  body {
      box-sizing: border-box;
      margin: 60px 1vw;

  }

  img {
      width: 100%;
  }

  header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 80px;
      background-color: white;
      z-index: 1;
  }


  a {
      text-decoration: none;
      list-style: none;
      font-family: sans-serif;
      font-size: .7rem;
      color: black;
      font-weight: 900;
      cursor: pointer;
  }

  .ikon {
      width: 26px;
      height: 26px;
  }



  #fb {
      background-image: url(assets/socialMedier/facebook.png);
      background-size: contain;
  }

  #ig {
      background-image: url(assets/socialMedier/instagram.png);
      background-size: contain;
  }

  #tw {
      background-image: url(assets/socialMedier/twitter.png);
      background-size: contain;
  }

  #social {
      display: grid;
      grid-template-columns: 26px 26px 26px;
      grid-template-rows: 1;
      justify-content: space-between;
      padding: 0 10vw 0 0;
  }

  #logo_box {
      margin: 5px auto 0;
      display: grid;
      grid-row: 1;
      width: 150px;
      height: 20px;
      background-size: cover;
      background-image: url(assets/kogaLogo_A0_Rectangle_5_pattern@2x.png);
  }

  #menu {
      width: 100vw;
      height: 30px;
      text-align: center;
  }

  #menu_box {
      grid-row: 2;
  }


  .hidden {
      display: none;
  }



  /**************'FAQ************'*/

  .faq h3 {
      text-align: left;
  }

  .faq {
      width: 80vw;
  }

  /**************'Kontakt************'*/

  .information {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: 1fr 1fr;
      ;

  }

  .kontakt {
      grid-column: 2;
      grid-row: 1;
      justify-self: center;
  }

  .tider {
      grid-column: 2;
      grid-row: 2;
      justify-self: center;

  }

  .information ul {
      list-style-type: none;
      font-family: sans-serif;
      font-size: .7rem;
      font-weight: 100;
      margin: 6px 0 12px 0;
  }

  .information h3 {
      font-size: .9rem;
      margin: 0 0 0 0;
  }



  /**************'Liste************'*/

  article h2 {
      text-align: center;
      font-size: 1.2rem;
      margin: 5px 0;

  }

  article h3 {
      text-align: center;
      font-size: .9rem;
      margin: 0;
  }

  .info:hover {
      opacity: 0.4;
  }

  /**************FOOTER************'*/

  footer {
      display: grid;
      background-color: #f9f9f9;
      position: absolute;
      margin: 5vw 0 0 0;
      padding: 5vw 0 0 5vw;
      grid-template-columns: 45vw 45vw;
      width: 95vw;
      height: 400px;
      line-height: 1.5rem;
      left: 0;

  }

  footer ul {
      list-style-type: none;
      padding: 0;
      margin: 1vw 0 3vw 0;
      font-family: sans-serif;
      text-decoration: none;
  }

  footer h2 {
      margin: 1vw 0;
  }

  /**************SPLASH************'*/

  .splash {
      margin: 80px 0 0 0;
      width: 98vw;
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
      grid-template-rows: 33.3% 33.3% 33.3%;
  }

  .splash img {
      width: 98vw;
      grid-column: 1 / 3;
      grid-row: 1 / 3;
  }

  .splash_kasse {
      width: 98vw;
      grid-column: 1 / 3;
      grid-row: 2;
      z-index: 1;
      text-align: center;
  }

  .splash_kasse h1 {
      margin: 0;
      color: white;
  }

  .splash_kasse h4 {
      color: white;
      margin: 0;
      font-weight: 400;
  }

  .splash_firkant {
      border: 2px solid white;
      width: 90px;
      height: 15px;
      margin: 5vw auto 0;
  }

  /**************Pic column************'*/

  .pic_column {
      display: grid;
      grid-template-columns: 1fr;
  }

  .pic_column img {
      display: none;
  }

  /**************'BOX************'*/

  .box1 {
      margin: 1vw 0;
  }


  .box2 {
      margin: 1vw 0;

  }

  .box3 {
      margin: 1vw 0;

  }

  .box4 {
      display: grid;
      grid-template-columns: 46vw 46vw;
      margin: 1vw;
      justify-content: space-between;
  }

  .box4 img {
      margin: 1vw 0;
  }

  .singleview-info h2 {
      text-align: left;
      font-size: 1.8rem;
  }


  .singleview-info h3 {
      text-align: left;
  }


  .singleview-info h4 {
      font-weight: 500;
      font-size: .8rem;
      line-height: 1.8rem;
  }

  .imgsingle {
      grid-column: 1 / 2;
      margin: 8vw 10vw 0 10vw;
      width: 76vw;
  }



  h4.info {
      margin-top: 0;
  }

  h5.beskrivelse {
      margin-bottom: 1vw;
  }

  .facts {
      list-style: circle;
      font-weight: 600;
      font-size: .7rem;
      line-height: 1.2rem;
      font-family: sans-serif;
  }


  /***********Om BOX************/

  #om_box h3 {
      position: relative;

  }




  /***********Box1************/

  .box1_kasse {
      margin: 15px 0;
      position: absolute;
      width: 98vw;
  }

  .om_kasse {
      margin: 25px 0;
      position: absolute;
      width: 98vw;
  }

  .om_kasse h4 {
      color: white;
      text-align: center;

  }

  .box1_kasse h3 {
      color: white;
      text-align: center;

  }

  .box1_kasse h4 {
      color: white;
      margin: 0 auto;
      width: 90vw;
      display: block;
      font-size: .9rem;

  }

  .box1_kasse h5 {
      color: white;
      font-size: .9rem;
      text-align: center;
      margin: 4px 0;

  }

  .splash h5 {
      color: white;
      font-size: .9rem;
      text-align: center;
      margin: 4px 0;

  }

  .mere {
      display: block;
      margin: 3vw auto;
      width: 90px;
      height: 25px;
      border: 3px solid white;
  }


  /***********Box3************/

  .box3_billede h4 {
      margin: 40vh auto;
      position: absolute;
      text-align: center;
      color: white;
      width: 98vw;
      display: block;
      font-size: 2rem;
  }

  .box3_billede:hover {
      opacity: 0.9;
  }

  /*************Knapper**********/

  #knapper {
      width: 80vw;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 20vw 20vw 20vw 20vw;
  }

  button {
      border: none;
      font-size: 1.5rem;
      color: black;
      font-weight: 500;
      font-size: .8rem;
  }

  /*************Header**********/
  /*Fonts*/

  h1 {
      font-family: sans-serif;
  }

  h2 {
      font-family: sans-serif;
  }

  h3 {
      font-family: sans-serif;
  }

  h4 {
      font-family: sans-serif;
  }

  h5 {
      font-family: sans-serif;
  }

  p {
      font-family: sans-serif;
      font-size: .8rem;
  }



  /*DIVS*/

  .text_center {
      margin: 5vw 0 8vw 0;
  }

  .faq {
      margin: 5vw 0 8vw 0;
  }

  .text_center h3 {
      margin: 1vw 0;
      text-align: center;
  }

  .text_center h1 {
      text-align: center;
  }

  .text_center p {
      margin: 1vw 10vw;
  }



  @media only screen and (min-width:600px) {

      /*            *******HEADER****Ø******/

      header {
          grid-template-columns: 32vw 58vw;
          height: 100px;
          background-color: rgba(255, 255, 255, 0.76);
      }


      #logo_box {
          margin: 30px 4vw;
          grid-column: 1;
          grid-row: 1;
          width: 200px;
          height: 26px;
          background-size: cover;
          background-image: url(assets/kogaLogo_A0_Rectangle_5_pattern@2x.png);
      }

      #menu_box {
          grid-column: 2;
          grid-row: 1;
      }

      #menu {
          width: 70vw;
          margin: 45px 20vw 0 0;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      }


      .hidden {
          display: grid;
      }

      .pic_column img {
          display: inline;
      }


      @media only screen and (min-width: 1000px) {

          button {
              font-size: 1.5rem;
          }

          /**************SPLASH************'*/

          .splash img {
              width: 96vw;
          }

          .splash_kasse h4 {
              color: white;
              margin: 0;
              font-weight: 500;
              font-size: 1.1rem;
              margin: 2px 2px 2px 2px;
          }

          .splash_firkant {
              border: 3px solid white;
              width: 150px;
              height: 25px;
              margin: 5vw auto 0;
          }

          .splash h1:hover {
              opacity: .8;
          }

          .splash h4:hover {
              opacity: .8;
          }

          .splash h1 {
              text-shadow: 2px 2px black;
          }



          /***********Fonts************/

          h1 {
              font-size: 4rem;
              margin: 1vw 0;
          }

          body {
              margin: 100px 2vw;
          }

          p {
              font-size: .9rem;
              line-height: 1.5rem;
          }

          /**************Pic column************'*/

          .pic_column {
              display: grid;
              grid-template-columns: 1fr 1fr;
              margin: 3vw 0;
          }

          .column_text {
              margin: 0 2vw;
          }

          .column_text h3 {
              margin: 0;
          }

          .column_text p {
              margin: 1vw 0;
          }

          /**************BOX************'*/


          .box1 {}

          .box2 {
              display: grid;
              grid-template-columns: 47vw 47vw;
              justify-content: space-between;
          }

          .box3 {
              display: grid;
              grid-template-columns: 31vw 31vw 31vw;
              justify-content: space-between;
          }

          .box3 h4 {
              text-shadow: 2px 2px black;
          }

          .box4 {
              display: grid;
              grid-template-columns: 23vw 23vw 23vw 23vw;
              justify-content: space-between;
              margin: 0;
          }

          .text_center {
              display: block;
              margin: 4vw auto 5vw;
              width: 800px;
          }

          .faq {
              display: block;
              margin: 2vw auto 2vw;
              width: 800px;
          }

          .text_center h1 {
              font-size: 3rem;
              text-align: center;
          }

          .box3_billede h4 {
              margin: 35vh auto;
              width: 31vw;

          }

          /************Kontakt***********/

          #kontakt_side h1 {
              font-size: 2rem;
              margin: 0 0 2vw 0;
          }

          .information {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr;
              grid-template-rows: 1fr;
          }

          .kontakt {
              grid-column: 2;
              grid-row: 1;
          }

          .tider {
              grid-column: 3;
              grid-row: 1;

          }

          .information ul {
              list-style-type: none;
              font-family: sans-serif;
              font-size: .7rem;
              font-weight: 100;
              margin: 6px 0 12px 0;
          }

          .information h3 {
              font-size: .9rem;
              margin: 0 0 0 0;
          }


          /***********Box1************/

          .box1_kasse {
              margin: 12vw 0;
              position: absolute;
              width: 98vw;
          }

          .om_kasse {
              margin: 12vw 0;

          }

          .om_kasse h4 {
              font-size: 3rem;
          }

          .box1_kasse h3 {
              font-size: 2rem;
              text-align: center;

          }

          .box1_kasse h4 {
              margin: 0 auto;
              width: 70vw;
              display: block;
              font-size: 2.9rem;

          }

          .mere {
              display: block;
              margin: 3vw auto;
              width: 90px;
              height: 25px;
              border: 3px solid white;
          }

          article img {
              justify-content: center;
          }

          article {
              margin-bottom: 4vw;
          }



          /*************Knapper**********/

          #knapper {
              width: 450px;
              margin: 0 auto;
              display: block;
              grid-template-columns: 65px 95px 95px 110px;
          }

          /*************shop side**********/

          #shop_top {
              margin: 0;
          }

          footer {
              /*          padding: 30px 10vw;*/
              grid-template-columns: 20vw 20vw 20vw 20vw;
              height: 250px;

          }

          footer li,
          ul,
          a {
              margin: 0;
          }

          .blok ul {
              list-style-type: none;
          }


      }
