body {
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 10% 90%;
    width: 100vw;
    height: 60px;
}

#header_logo {
    width: 150px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.splash {
    width: 100vw;
    height: 60vw;
}

.splash img {
    height: 100%;
}

.forside_boks {
    width: 96vw;
    height: 60vw;
    margin: 0 2vw 0 2vw;
}

.cykler {
    width: 96vw;
    height: 80vw;
    margin: 0 2vw 0 2vw;
}

.kontakt {
    width: 96vw;
    height: 80vw;
    margin: 0 2vw 0 2vw;
}

.om_os {
    width: 96vw;
    height: 80vw;
    margin: 0 2vw 0 2vw;
}

.vaerdier {
    width: 96vw;
    height: 80vw;
    margin: 0 2vw 0 2vw;
}

.signature {
    width: 96vw;
    height: 80vw;
    margin: 0 2vw 2vw 2vw;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 96vw;
    height: 65vh;
    margin: 0 2vw 0 2vw;
}

.liste {
    display: grid;
    grid-template-columns: 1fr;
}

.cykel {
    background-color: aqua;
    width: 400px;
    border: 1px solid black;
    margin: 10px;
}

.box {
    width: 94vw;
    height: 94vw;
    margin: 2vw 0 2vw 0;
}

#underside_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 3vw 0 3vw;
}

.underside_info {
    margin: 0 3vw 0 3vw;
}

.underside_info h2 {
    font-size: 1.5rem;
    margin: 0 auto 5vw;
    max-width: 100px;
    display: block;
}

/***************Fonts*********/

h1 {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

/***********************Media Query 600px***************************/

@media only screen and (min-width: 600px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20vw 20vw 20vw 20vw;
    }

    #header_logo {
        width: 155px;
        margin: 15px 0 0 50px;
    }

    header {
        left: 0;
        top: 0;
        position: absolute;
        width: 250px;
        background-color: white;
    }

    .forside_boks {
        position: absolute;
        top: 50vh;
        width: 46vw;
        height: 40vw;
        background-color: white;
        margin: 0 1vw 0 1vw;
        padding: 0 1vw 1vw 1vw;

    }

    .cykler {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 47vw;
        height: 40vw;
        margin: 0 1vw 0 1vw;

    }

    .kontakt {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 47vw;
        height: 40vw;
        margin: 0 1vw 0 2vw;

    }

    .om_os {
        grid-column-start: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 47vw;
        height: 30vw;
        margin: 0 1vw 0 1vw;
    }

    .vaerdier {
        width: 96vw;
        height: 60vw;
        margin: 0 2vw 0 2vw;
    }

    .signature {
        width: 96vw;
        height: 60vw;
        margin: 0 2vw 2vw 2vw;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 96vw;
        height: 30vw;
        margin: 0 2vw 0 2vw;
    }

    .box {
        width: 40vw;
        height: 40vw;
    }

    #underside_box {
        width: 90vw;
        display: grid;
        margin: 0 4vw 0 6vw;
    }

    .box:hover {
        opacity: 0.2;
    }

    #underside_info {
        margin: 1vw 15vw 0 15vw;
    }

    .liste {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cykel {
        width: 400px;
        border: 1px solid black;
        margin: 10px;
    }

}
